{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block page_heading %}#{{ticket.id}} {{ticket.title}}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-sm-6">
        <p>
            Status: {{ ticket.status }}
        </p>
        <p>
            Upvotes: {{ ticket.upvotes }}
        </p>
        <p>
            Category: {{ ticket.category }}
        </p>
    </div>
    <div class="col-12 col-sm-6">
        <p>
            Created: {{ ticket.created_date.date }} at {{ ticket.created_date.time}}
        </p>
        <p>
            Updated: {{ ticket.last_modified_date.date }} at {{ ticket.last_modified_date.time}}
        </p>
        <p>
            Author: {% if ticket.user %}{{ ticket.user }}{% else %}Anonymous{% endif%}
        </p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12">
        <h3>Description</h3>
        <p>{{ ticket.description }}</p>
    </div>
</div>
<hr>
<h3 class="ml-3">Comments</h3>
<div class="row comments">
    {% for comment in comments %}
    <div class="col-12 col-md-6">
        <blockquote class="blockquote">
            <p class="m-2 p-3 bg-light">{{ comment.comment }}</p>
        </blockquote>
    </div>
    {% endfor %}
</div>
<hr>
<div class="row comment-form">
    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
        <form method="POST" action={% url 'add_comment' ticket.id %}>

            {% csrf_token %}

            {{ comment_form | as_bootstrap }}

            <button class="btn btn-info" type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}