{% extends 'base.html' %}

{% block page_title %}Django Auth{% endblock %}

{% block page_heading %}{{ user }}'s Profile{% endblock %}

{% block content %}

<h3 class="mb-3">My Tickets</h3>

{% for ticket in tickets %}
<div class="row no-gutters mb-3">
    <div class="col-2 col-sm-1 pt-2 upvotes bg-dark text-light text-center">
        <h5>{{ ticket.upvotes }}</h5>
        {% if user in ticket.upvoted_by.all %}
        <i class="fas fa-thumbs-up"></i>
        {% else %}
        <a href="{% url 'upvote_ticket' ticket.id ticket.category user.id %}">
            <i class="far fa-thumbs-up"></i>
        </a>
        {% endif %}
    </div>
    <div class="col-2 col-sm-1 category align-self-center text-center">
        {% if ticket.category == 'BUG' %}
        <i class="fas fa-bug text-success category-icon"></i>
        {% else %}
        <i class="fas fa-lightbulb text-info category-icon"></i>
        {% endif %}
    </div>
    <div class="col-8 col-sm-10 p-2 title bg-light text-secondary">
        <h5><a href="{% url 'get_ticket' ticket.id %}">{{ ticket.title }}</a></h5>
        <p class="text-muted mb-0">#{{ticket.id}} opened at {{ ticket.created_date.time }} on {{ ticket.created_date.date }} by {% if ticket.user %}{{ ticket.user }}{% else %}Anonymous{% endif%}</p>
    </div>
</div>
{% endfor %}

{% endblock %}